<% if @role == "employer" %>
<p>Here you can set a reward for anyone who fixes a Google Code issue. To add an issue, click on <%= link_to 'New job', new_job_path %> and copy paste the URL. Then set a price and submit.</p>

<%=link_to "What happens next...", 'http://github.com/Sjors/jobtorrent/wikis/employers' %>

<p>Remember, you can add <i>any</i> issue: you do not have to own the project in order to set a reward!</p>

<% end %> 
 

<% if @role == "employee" %>
<p>Here is a list of rewards for fixing Google Code issues. Click on the URL to learn more about the particular issue. If you think you can fix it, right now, click on <i>Accept</i> and get to work. 

<%=link_to "What happens next...", 'http://github.com/Sjors/jobtorrent/wikis/employees' %>

<% end %> 

<p><i>Please note that Jobtorrent is about as beta as it gets and that I do not consider myself liable for any damage caused by anyone's stupidity, including mine. Rest assured though that all transactions are handled by Paypal and can only be made by the employers 'on the spot'.</i></p>

<h1>Listing jobs. Prices in Australian Dollars.</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Price</th>
    <% if @role == "employee" %>
      <th>Employer</th>
    <% end %>
    <th>Employee</th>
    <th>Created</th>
    <th>Accepted</th>
    <th>Finished</th>
    <th>Approved</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%= render :partial => "link_to_project", :locals => { :job => job }  %></td>
    <td><%=h job.price.to_f.to_money %></td>
    <% if @role == "employee" %>
      <td><%=h User.find(job.employer_id).login %></td>
    <% end %>
    <td>
      <% if job.accepted %>
        <%=h User.find(job.employee_id).login %>
      <% end %>
    </td>
    <td><%=h job.created_at %></td>
    <td><%=h job.accepted %>
      <% if @role == "employee" and job.accepted.nil? %>
        <%=link_to "Accept", :id => job.id, :action => "accept" %>
      <% end %>
    </td>
    <td><%=h job.finished %>
      <% if @role == "employee" and job.employee_id == current_user.id  and job.finished.nil? %>
        <%=link_to "Finish", :id => job.id, :action => "finish" %>
      <% end %>
    </td> 
    <td><%=h job.approved %>
      <% if @role == "employer" and not(job.finished.nil?) and job.employer_id == current_user.id and job.approved.nil? %>
        <%=link_to "Approve", :id => job.id, :action => "approve" %>
      <% end %>
      <% if @role == "employer" and not(job.approved.nil?) and job.employer_id == current_user.id and Payment.find(:first, :conditions => {:job_id => job.id}).transferred.nil? %>
      <br />
        <%=link_to "Pay", :controller => 'payments', :job_id => job.id, :action => "show" %>
      <% end %>
    </td>
    <% if @role == "employer" and job.finished.nil? %>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @role == "employer" %>
  <%= link_to 'New job', new_job_path %>
<% end %>
