<p> 
  <b>Project and issue:</b> 
  <%= render :partial => "link_to_project", :locals => { :job => @job, :html_tag => 'p' }  %>
<p>
  <b>Employee:</b>
  <% if @job.employee_id.nil? %>
    None yet
  <% else %>
    <%=h User.find(@job.employee_id).login %>
  <% end %>
</p>

<p>
  <b>Price in AUD:</b>
    <%= @job.price.to_f.to_money %>
</p>

<p>
  <b>Created:</b>
  <%=h @job.created_at %>
</p>

<p>
  <b>Accepted:</b>
  <%=h @job.accepted %>
</p>

<p>
  <b>Finished:</b>
  <%=h @job.finished %>
</p>

<p>
  <b>Approved:</b>
  <%=h @job.approved %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
