<p> 
  <b>URL:</b> 
  <%= render :partial => "link_to_project", :locals => { :job => @job }  %>
<p>
  <b>Employee:</b>
  <%=h User.find(@job.employee_id).login %>
</p>

<p>
  <b>Price in AUD:</b>
    <%= Money.new(@job.price_in_cents) %>
</p>

<p>
  <b>Created:</b>
  <%=h @job.created_at %>
</p>

<p>
  <b>Accepted:</b>
  <%=h @job.accepted %>
</p>

<p>
  <b>Finished:</b>
  <%=h @job.finished %>
</p>

<p>
  <b>Approved:</b>
  <%=h @job.approved %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
