<h1>Listing employers</h1>

<table>
  <tr>
    <th>User</th>
  </tr>

<% for employer in @employers %>
  <tr>
    <td><%=h employer.user.name %></td>
    <td><%= link_to 'Show', employer %></td>
    <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
    <td><%= link_to 'Destroy', employer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New employer', new_employer_path %>
